.brand-image {
    height: 23px;
    padding-left: 40px;
    MARGIN-TOP: 8PX;
}

.navbar-nav cl1 {
    width: 70p;
}

.navbar-toggler {
    padding: 10px 6px;
}

.card-text {
    font-size: 16px;
    align-items: center;
    text-align: inherit;
}

a {
    text-decoration: none;
    color: #950c17;
}

a:hover {
    text-decoration: underline;
    color: #950c17;
}

li ul {
    text-align: center;
    padding-left: 20px;
}

ul {
    margin-top: 42px;
    margin-bottom: 1rem;
    margin-left: 43px;
    padding-left: -25px;
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: -15px;
}

.carousel-caption {
    position: absolute;
    top: 8%;
    left: 7% !important;
    color: black;
    margin-top: 100px;
}

.carousel-caption h3 {
    font-size: 1.8125rem;
    margin-bottom: 1rem;
}

.carousel-caption h3 {
    text-align: left;
    color: black;
}

.carousel-caption p {
    text-align: left;
    color: black;
}

.carousel-caption button {
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    position: absolute;
    left: 0;
    border-radius: 2px;
    background-color: #000000 !important;
    font-weight: 600;
}

@media screen and (max-width: 760px) {
    .card {
        width: 53rem;
    }

    .images {
        width: 21rem;
        align-items: center;
        margin-left: 5px;
    }

    .card-text {
        width: 22rem;
        align-items: center;
        font-size: 16px;
    }

    .slider2 {
        font-size: 0.3 rem;
    }

    .carousel-caption {
        height: 100px;
    }

    .carousel-caption {
        font-size: 10px;
        color: blue;
        transform: translate(0px, -90px);
    }
}